@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(./assets/fonts/Rubik/Rubik-Light.ttf) format('ttf');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body {
  margin: 0;
  font-family: 'Rubik';
  background-color: #0E1323;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}